body {background-color: 	#fffacb}
h1 {color: 	#ba6c42;
text-align: center}

p {color:		#dfc7a7;
  font-family: "Courier New",monospace}

div{background-color: #836953;
color:#f2be49}

h2 {text-align: center; color:#d6a40c}

h3 {text-align: center; font-family:"Georgia",serif}
h4 {text-align: center;
color: #d17d4e; font-family:"Garamond",serif}
p {text-align: center}